<div class="example-container mat-elevation-z8">
  <!--<div class="example-loading-shade"-->
  <!--*ngIf="isLoadingResults || isRateLimitReached">-->
  <!--<mat-spinner *ngIf="isLoadingResults"></mat-spinner>-->
  <!--<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">-->
  <!--GitHub's API rate limit has been reached. It will be reset in one minute.-->
  <!--</div>-->
  <!--</div>-->

  <div class="example-table-container">

    <mat-table [dataSource]="dataSource" class="example-table"
               matSort #foo matSortActive="created"  matSortDirection="asc">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>מספר דירה</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="floor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>קומה</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.floor }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="debt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>יתרת חוב</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.debt }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a mat-icon-button routerLink="{{row.id}}">
            <mat-icon>info</mat-icon>
          </a>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>


</div>
