

mat-card {
  .card-wrp {
    padding: 5px;
    border-radius: 3px;
    mat-card-header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    mat-radio-button {
      ::ng-deep {
        .mat-radio-label-content {
          padding: 0 0 0 8px;
        }
      }
    }
  }
  mat-chip {
    cursor: pointer;
  }

}

