<mat-card>

  <div [@color]="isOpen ? true : false" class="card-wrp">

    <mat-card-header>
      <mat-card-title [style.textDecoration]="abstractControl.get('toDelete').value?'line-through':'none'">


        {{nameCtrl.value}}
        {{familyCtrl.value}}


      </mat-card-title>
      <mat-chip-list [style.visibility]="userIsTenant?'visible':'hidden'">
        <mat-chip (click)="toggleDeleted()" [@flyInOut]="isOpen ? true : false" color="warn"
                  selected>{{actionBtnTxt}}
        </mat-chip>

      </mat-chip-list>


    </mat-card-header>
    <form [formGroup]="abstractControl">

      <app-info-form-field [maxlength]="10" type="text" plcHldr="שם" [errs]="errs['name']" ctrlName="name"
                           [userIsTenant]="userIsTenant"
                           [abstractControl]="nameCtrl"
                           [formGroup]="abstractControl"></app-info-form-field>

      <app-info-form-field [maxlength]="10" type="text" plcHldr="משפחה" [errs]="errs['family']" ctrlName="family"
                           [userIsTenant]="userIsTenant" [abstractControl]="familyCtrl"
                           [formGroup]="abstractControl"></app-info-form-field>

      <app-info-form-field [maxlength]="10" type="number" plcHldr="טלפון" [errs]="errs['phone']" ctrlName="phone"
                           [userIsTenant]="userIsTenant" [abstractControl]="phoneCtrl"
                           [formGroup]="abstractControl"></app-info-form-field>

      <app-info-form-field [maxlength]="100" type="email" plcHldr="מייל" [errs]="errs['email']" ctrlName="email"
                           [userIsTenant]="userIsTenant" [abstractControl]="emailCtrl"
                           [formGroup]="abstractControl"></app-info-form-field>


      <div>בעלות:</div>
      <app-info-form-field [userIsOwner]="userIsOwner" type="radio" [items]="items" ctrlName="status"
                           [userIsTenant]="userIsTenant" [abstractControl]="statusCtrl"
                           [formGroup]="abstractControl"></app-info-form-field>


    </form>
  </div>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>


