<mat-card>

  <div [@color]="isOpen ? true : false" class="card-wrp">
    <!--<div class="curtain"></div>-->
      <mat-card-header>
      <mat-card-title [style.textDecoration]="abstractControl.get('toDelete').value?'line-through':'none'">
        <!--איש קשר #{{index + 1}}-->

        {{nameCtrl.value}}
        {{familyCtrl.value}}


      </mat-card-title>
      <mat-chip-list [style.visibility]="userIsTenant?'visible':'hidden'">
        <mat-chip (click)="toggleDeleted()" [@flyInOut]="isOpen ? true : false" color="warn"
                  selected>{{actionBtnTxt}}
        </mat-chip>

      </mat-chip-list>

      <!--<button  class="remove-btn" [disabled]="!userIsTenant"-->
      <!--mat-raised-button color="warn">-->
      <!--</button>-->
    </mat-card-header>
    <form [formGroup]="abstractControl">
      <!--<h4>-->
      <!--&lt;!&ndash;<button [disabled]="!userIsTenant" (click)="toggleDeleted()" type="button">{{actionBtnTxt}}</button>&ndash;&gt;-->

      <!--</h4>-->

      <!--<label>שם פרטי:-->
      <!--<input [readonly]="disableInput" type="text" formControlName="name">-->
      <!--</label>-->

      <!--<mat-form-field class="">-->
      <!--<input (keyup)="onKeyUp($event.target)" maxlength="10" matInput placeholder="שם" formControlName="name">-->
      <!--<mat-error *ngIf="nameCtrl.hasError('required')">-->
      <!--יש להזין שם-->
      <!--</mat-error>-->
      <!--<mat-icon *ngIf="userIsTenant && isEditing" svgIcon="edit"></mat-icon>-->
      <!--</mat-form-field>-->
      <app-info-form-field [maxlength]="10" type="text" plcHldr="שם" [errs]="errs['name']" ctrlName="name"
                           [userIsTenant]="userIsTenant"
                           [abstractControl]="nameCtrl"
                           [formGroup]="abstractControl"></app-info-form-field>


      <!--<label>שם משפחה:-->
      <!--<input [readonly]="disableInput" type="text" formControlName="family">-->
      <!--</label>-->

      <!--<mat-form-field class="">-->
      <!--<input maxlength="10" matInput placeholder="משפחה" formControlName="family">-->
      <!--<mat-error *ngIf="familyCtrl.hasError('required')">-->
      <!--יש להזין משפחה-->
      <!--</mat-error>-->
      <!--<mat-icon *ngIf="userIsTenant" svgIcon="edit"></mat-icon>-->
      <!--</mat-form-field>-->

      <app-info-form-field [maxlength]="10" type="text" plcHldr="משפחה" [errs]="errs['family']" ctrlName="family"
                           [userIsTenant]="userIsTenant" [abstractControl]="familyCtrl"
                           [formGroup]="abstractControl"></app-info-form-field>


      <!--<label>טלפון:-->
      <!--<input [readonly]="disableInput" type="text" formControlName="phone">-->
      <!--</label>-->

      <!--<mat-form-field class="">-->
      <!--<input maxlength="10" matInput placeholder="טלפון" formControlName="phone">-->
      <!--<mat-error *ngIf="phoneCtrl.hasError('required')">-->
      <!--יש להזין טלפון-->
      <!--</mat-error>-->
      <!--<mat-icon *ngIf="userIsTenant" svgIcon="edit"></mat-icon>-->
      <!--</mat-form-field>-->

      <app-info-form-field [maxlength]="10" type="number" plcHldr="טלפון" [errs]="errs['phone']" ctrlName="phone"
                           [userIsTenant]="userIsTenant" [abstractControl]="phoneCtrl"
                           [formGroup]="abstractControl"></app-info-form-field>


      <!--<label>אי מייל:-->
      <!--<input [readonly]="disableInput" type="email" formControlName="email">-->
      <!--</label>-->


      <!--<mat-form-field class="">-->
      <!--<input maxlength="30" matInput placeholder="מייל" formControlName="email">-->
      <!--<mat-error *ngIf="emailCtrl.hasError('email') && !emailCtrl.hasError('required')">-->
      <!--מייל אינו חוקי-->
      <!--</mat-error>-->
      <!--<mat-error *ngIf="emailCtrl.hasError('required')">-->
      <!--יש להזין מייל-->
      <!--</mat-error>-->
      <!--<mat-icon *ngIf="userIsTenant" svgIcon="edit"></mat-icon>-->
      <!--</mat-form-field>-->

      <app-info-form-field [maxlength]="100" type="email" plcHldr="מייל" [errs]="errs['email']" ctrlName="email"
                           [userIsTenant]="userIsTenant" [abstractControl]="emailCtrl"
                           [formGroup]="abstractControl"></app-info-form-field>


      <div>בעלות:</div>
      <!--<label><input type="radio" formControlName="status" value="tenant">דייר</label>-->
      <!--<label><input type="radio" formControlName="status" value="owner">בעל דירה</label>-->

      <!--<mat-radio-group formControlName="status">-->
      <!--<mat-radio-button value="tenant">דייר</mat-radio-button>-->
      <!--<mat-radio-button value="owner">בעלים</mat-radio-button>-->
      <!--</mat-radio-group>-->

      <app-info-form-field [userIsOwner]="userIsOwner" type="radio" [items]="items" ctrlName="status"
                           [userIsTenant]="userIsTenant" [abstractControl]="statusCtrl"
                           [formGroup]="abstractControl"></app-info-form-field>


    </form>
  </div>
  <mat-card-footer>
    <!--{{abstractControl|json}}-->
  </mat-card-footer>
</mat-card>


