<!--<h3><i>Using FormArray to add groups</i></h3>-->

<form (ngSubmit)="onSubmit()" *ngIf="apartmentForm" [formGroup]="apartmentForm">
  <!--<p>Form Changed: {{ apartmentForm.dirty }}</p>-->
  <div>
    <label><input readonly type="number" formControlName="debt"></label>
  </div>
  <div>



  </div>
  <br><br>
  <div formArrayName="apartmentInfo">
    <div *ngFor="let info of apartmentInfo.controls; let i=index" [formGroupName]="i">
      <!-- The repeated info template -->
      <h4>איש קשר #{{i + 1}}
        <button (click)="toggleDeleted(i)" type="button">{{getActionBtnTxt(i)}}</button>
      </h4>
      <div>
        <label>שם:
          <input type="text" formControlName="name">
        </label>
      </div>
      <div>
        <label>טלפון:
          <input type="text" formControlName="phone">
        </label>
      </div>

      <div>
        <label>אי מייל:
          <input type="email" formControlName="email">
        </label>
      </div>
      <div>בעלות:</div>
      <label><input type="radio" formControlName="status" value="tenant">דייר</label>
      <label><input type="radio" formControlName="status" value="owner">בעל דירה</label>
      <br>
      <!-- End of the repeated address template -->
    </div>
    <button (click)="addInfo()" type="button">הוספת איש קשר</button>
  </div>
  <button type="submit">שמירה</button>
</form>


