

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  display: flex;
  align-items: center;
  button{
    mat-icon{
      width: 40px;
      height: 40px;
    }
  }
}

