.example-container {
  height: 80vh;
  overflow: auto;
  margin: 0 5% 0 5%;
  mat-header-cell{
    justify-content: center;
  }
  mat-cell{
    justify-content: center;
    direction: ltr;
    display: flex;
    font-weight: bold;
  }
  mat-row{
    cursor: pointer;
    &:hover{
      background: rgba(29, 143, 224,0.5);
      mat-cell{
        color:white;

      }

    }
  }
}
mat-table {
  width: 100%;
}
::ng-deep{
  .example-detail-row {
    //height: 0;
    min-height: 0;
  }

  //.example-element-row:not(.example-expanded-row) {
  // min-height: 0;
  //}

  .example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }

  .example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row {
    border-bottom-width: 0;
    height: 47px;
    cursor: pointer;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;

  }

  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .example-element-description {
    padding: 16px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }

}
