<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    (openedChange)="onOpenedChange($event)"
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">תפריט</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" [routerLink]="['/apartments']">כללי</a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['/works']">עבודות</a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['/inbox']">דואר נכנס</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [style.margin-right.px]="margin">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ניהול הבניין</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
